header {
    padding-top: 20px;
    font-size: 30px;
    text-align: center;
    height:80px;
    background-color: darkcyan;
}
aside {
    width: 400px;
    float: left;
    background-color: burlywood;
}
